#main{
    border: 1px solid #aaa;
    position: relative;
    width: 98.7%;
    min-height: 83vh;
    display: block;
    margin:10px auto;
    background-color: antiquewhite;
    overflow-y: scroll;
}

#cont-main{
    
    width: 100%;
    display: block;
}