:root{
    --background: #f0f0f0;
    --primary-color: #1853db;
    --secondary-color: #FF9933;
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    display: block;
}

.cont-form p{
    font-family: prisma;
    display: block;
    font-size: 50px;
    margin: 100px auto 50px auto;
}

.cont-form{
    display: block;
    width: 50%;
    margin: auto;
}

.cont-form form{
    display: block;
    width: 50%;
    margin: auto;
    padding: 10px;
}

form h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cont-form form input{
    display: block;
    width: 98%;
    height: 30px;
    outline: none;
    border: none;
    text-align: left;
    background: #ffffff;
    border-radius: 3px;
    padding: 3px;
    border: 2px solid #ddd;
    transition-delay: 0.1s;
}

.cont-form form input:hover{
    border: 2px solid var(--primary-color);
}
.cont-form form input:focus{
    border: 2px solid var(--primary-color);
}

.cont-form form label{
    text-align: left;
    display: block;
    width: 98%;
    letter-spacing: 2px;
    font: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
}

.cont-form form button{
    font-size: 20px;
    width: 30%;
    padding: 5px;
    margin-top: 30px;
    background: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer
}

.cont-pass{
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.cont-pass a{
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-radius: 3px 3px 3px 3px;
    color: #bbb;
    padding-top: 20%;
    text-decoration: none;
}